<!-- <table *ngIf="forecast">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temperature (K)</th>
      <th>Humidity (%)</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of forecast.list">
      <td>{{ item.dt }}</td>
      <td>{{ item.main.temp }}</td>
      <td>{{ item.main.humidity }}</td>
      <td>{{ item.weather[0].description }}</td>
    </tr>
  </tbody>
</table> -->

<table mat-table [dataSource]="forecast.list" class="mat-elevation-z8">
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{ element.dt_txt }}</td>
  </ng-container>

  <ng-container matColumnDef="Temperature">
    <th mat-header-cell *matHeaderCellDef>Temperature (K)</th>
    <td mat-cell *matCellDef="let element">{{ element.main.temp }}</td>
  </ng-container>

  <ng-container matColumnDef="Humidity">
    <th mat-header-cell *matHeaderCellDef>Humidity (%)</th>
    <td mat-cell *matCellDef="let element">{{ element.main.humidity }}</td>
  </ng-container>

  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">
      {{ element.weather[0].description }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div *ngIf="error">
  <h2 style="color:red">{{ error.message }}</h2>
</div>
